.palette-wrapper {
  display: block;

  padding: 2em 0 98px;
}
.palette-item-wrapper {
  display: flex;

  width: 100%;
  height: 4.857142857142857em;

  transition: all 100ms ease-in-out;
  white-space: nowrap;
  &:first-child {
    transition: none;
  }
  &:nth-child(5), &:nth-child(6), &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19), &:nth-child(21), &:nth-child(23), {
    margin-bottom: 1em;
  }
}

.palette-item {
  font-weight: 500;

  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  padding: 0 10px;

  flex-wrap: nowrap;
}

.palette-item-section {
  padding: (20 / 14) * 1em 0;

  flex: 0 1 auto;
  &:nth-child(2) {
    margin: 0 30px 0 0;
    padding: 0;

    flex-grow: 1;
  }
}

.palette-meta {
  font-size: 15px;

  opacity: .5;
}

.palette-selection-toggle {
  input {
    display: none;
    &:checked + label {
      transform: rotate(0deg);

      opacity: 1;
      color: $white;
      border-radius: 50%;
      background-color: hsl(120, 49%, 63%);
      box-shadow: map-get($shadows, 'small');
    }
  }
  label {
    display: block;

    padding: 2px;

    cursor: pointer;
    transition: all .4s ease-in-out;
    transform: rotate(-360deg);

    opacity: .65;
    color: inherit;
    border-radius: 0;
  }
}

.color-input {
  font-size: 20px;

  text-align: center;
  text-transform: uppercase;

  opacity: .65;
  color: inherit;
  border: 0;
  outline: none;
  background: transparent;
}
