.palette-wrapper {
  display: block;

  padding: 2em 0 110px;
}
.palette-item-wrapper {
  display: flex;

  width: 100%;
  height: 4.5em;

  transition: all 100ms ease-in-out;
  white-space: nowrap;
  &:first-child {
    transition: none;
  }
  &:nth-child(5), &:nth-child(6), &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19), &:nth-child(21), &:nth-child(23), {
    margin-bottom: 1em;
  }
}

.palette-item {
  font-weight: 500;

  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  padding: 0 10px;

  flex-wrap: nowrap;
}

.palette-item-section {
  padding: (20 / 14) * 1em 0;

  flex: 0 1 auto;
  &:nth-child(2) {
    line-height: 4.5em;

    padding: 0;

    flex-grow: 1;
  }
}

.palette-meta {
  font-size: 15px;

  opacity: .5;
}

.palette-item-toolbar-item {
  display: inline-block;

  padding: 0 5px;

  cursor: pointer;
  transition: all 100ms ease-in-out;

  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

.color-input {
  font-size: 20px;

  text-align: center;
  text-transform: uppercase;

  opacity: .65;
  color: inherit;
  border: 0;
  outline: none;
  background: transparent;
}
