.toolbar-wrapper {
  display: block;

  width: 100%;

  background: #383838;
  box-shadow: map-get($shadows, large);
}

.toolbar {
  position: relative;
  z-index: 10001;

  width: 100%;
  padding: 10px 24px;

  color: $white;
}

.toolbar-meta {
  padding-bottom: 10px;

  text-align: center;

  border-bottom: 2px solid fade-out($white, .93);
}

.toolbar-buttons {
  margin-top: 6.5px;

  text-align: center;
  .call-to-action {
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}

.call-to-action {
  font-weight: 500;

  display: inline-block;

  padding: 8px 12px 8px 10px;

  cursor: pointer;
  transition: $--transition;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  opacity: .6;
  color: $white;
  border: 0;
  border-radius: $--border-radius;
  outline: none;
  background: 0;
  .material-icons {
    margin-right: 10px;
  }
  &:hover, &.active, &.success {
    opacity: 1;
  }
  &[disabled='disabled'] {
    opacity: .3;
  }
  &.success {
    background: #63cc62;
  }
}
